body {
	font-family: 'Quicksand', sans-serif;
}
ion-icon {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 2;
	display: inline-block;
	text-rendering: auto;
	font-style: normal;
	font-size: 16px;
}
.img-circle {
	border-radius: 50% !important;
}
.img-brand {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	object-fit: cover;
	border: 2px solid #ddd;
}
.form-control-search {
	color: var(--light);
	background-color: var(--dark);
	border: 1px solid var(--light);
}
.form-control-search:focus {
	color: var(--light);
	border: 1px solid var(--light);
	background-color: var(--dark);
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(245, 246, 250, 0.25);
}
.btn-search {
	color: var(--dark);
	background-color: var(--light);
}
.btn-search:focus,
.btn-search:active {
	box-shadow: 0 0 0 0.25rem rgba(245, 246, 250, 0.25);
	background-color: var(--light);
	color: var(--dark);
}
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}
#loader-wrapper .loader {
	display: block;
	border: 3px solid transparent;
	border-top-color: #e67e22;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	margin: -95px 0 0 -95px;
	animation: spin 3s linear infinite;
	z-index: 1002;
	transition: all 0.5s ease-in-out;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
#loader-wrapper .loader::before {
	content: '';
	position: absolute;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	border: 3px solid transparent;
	border-radius: 50%;
	border-top-color: #d60331;
	animation: spin 2s ease-in-out infinite;
	animation-delay: 0.5s;
}
#loader-wrapper .loader::after {
	content: '';
	position: absolute;
	top: 21px;
	left: 21px;
	right: 21px;
	bottom: 21px;
	border: 3px solid transparent;
	border-radius: 50%;
	border-top-color: #00cec9;
	animation: spin 1.5s ease-in-out infinite;
}
#loader-wrapper .loader-sec-right,
#loader-wrapper .loader-sec-left {
	position: fixed;
	width: 100%;
	height: 50%;
	background-color: var(--primary);
	z-index: 1000;
	transition: all 100ms 0.5s ease-in-out;
}
#loader-wrapper .loader-sec-right {
	top: 0;
	left: 0;
}
#loader-wrapper .loader-sec-left {
	right: 0;
	bottom: 0;
}
.loaded #loader-wrapper {
	visibility: hidden;
	transition: all 150ms 1s ease-in-out;
	transform: translateX(-100%);
}
.loaded #loader-wrapper .loader-sec-right {
	transition: all 0.5s 0.5s ease-in-out;
	transform: translateY(-100%);
}
.loaded #loader-wrapper .loader-sec-left {
	transition: all 0.5s 0.5s ease-in-out;
	transform: translateY(100%);
}
.loaded #loader-wrapper .loader {
	opacity: 0;
	visibility: hidden;
}
.bars {
	color: var(--light);
	border: 1px solid var(--light);
}
.bars:hover, .bars:active {
	background: var(--light);
	color: var(--dark);
}
.collapse .collapse-inner {
	overflow-y: scroll;
	max-height: 230px;
}
.text-heading, 
.text-heading + h3 {
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}
.img-profile {
	border-radius: 50%;
}
.img-profile:hover {
	animation: bounce 0.5s  forwards;
}
@keyframes bounce {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
.home {
	position: relative;
	background-color: #ecf0f1;
	background-clip: border-box;
	border: 1px solid #ecf0f1;
	padding: 20px;
	margin: 15px 10px;
	border-radius: 0.315rem;
	display: flex;
	flex-direction: column;
	box-shadow: -1px 1px 5px 0.1rem rgba(0, 0, 0, 0.4), 1px -1px 5px 0.1rem rgba(0, 0, 0, 0.4);
	word-wrap: break-word;
}
.home .home-brand {
	position: relative;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home .home-brand .home-brand-profile {
	max-width: 100%;
	border-radius: 50%;
	box-shadow: 0 2px 8px rgba(200, 200, 200, 0.4);
	border: 5px solid #ccc;
}
.home .home-body {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	flex: 1;
}
.home .home-body .home-body-divider {
	margin: 0 1rem 1rem;
	border: 1px solid rgba(100, 100, 100, 0.3);
}
.home .home-body .home-body-title,
.home .home-body .home-body-slogan {
	position: relative;
	flex: 1;
	text-align: center;
	margin-top: 15px;
}
.home .home-body .home-body-title {
	font-size: 1.8rem;
	font-weight: 400;
}
.home .home-body .home-body-slogan {
	font-size: 1.3rem;
	font-weight: 400;
}
.home .home-body .home-body-media {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	align-items: stretch;
}
.home .home-body .home-body-media .home-body-media-link {
	color: #34495e;
	font-weight: bold;
	font-size: 1.5rem;
	transition: color 0.2s ease, transform 0.2s ease-in-out;
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 5px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin-bottom: 3px;
}
.home .home-body .home-body-media .home-body-media-link:hover {
	color: #3498db;
	transform: scale(1.2);
}
.home .home-body .home-body-media .home-body-media-link span {
	position: relative;
	font-size: 0.8rem;
	color: #2d3436;
	padding: 0 3px 3px;
	display: none;
}
.home .home-body .home-body-link {
	position: relative;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: capitalize;
	margin: 0 1rem 1rem;
	padding: 0 1rem 0;
	color: var(--dark);
	text-decoration: none;
	transition: color 0.5s ease, text-decoration 0.5s ease, transform 0.5s ease-in-out;
	pointer-events: auto;
	box-shadow: border-box;
	text-align: left;
	transition: all 0.2s ease-in-out;
}
.home .home-body .home-body-link:hover:after {
	content: '#';
	position: absolute;
	color: var(--primary);
	margin-left: 4px;
	text-decoration: underline;
}
@media only screen and (min-width: 786px) {
	.sidebar-brand-text {
		font-size: 1rem;
	}
	.img-brand {
		display: none;
		visibility: hidden;
	}
	.sidebar.toggled .sidebar-brand .sidebar-brand-icon .img-brand {
		display: block;
		visibility: visible;
		overflow: visible;
	}
	.sidebar.toggled .sidebar-brand .sidebar-brand-text {
		display: none;
	}
	.home .home-brand .home-brand-profile {
		width: 50%;
	}
	.home .home-body .home-body-title {
		font-size: 3rem;
		font-weight: bold;
	}
	.home .home-body .home-body-slogan {
		font-size: 1.8rem;
		font-weight: bold;
	}
	.home .home-body .home-body-media {
		justify-content: space-evenly;
	}
	.home .home-body .home-body-media .home-body-media-link {
		font-size: 2rem;
	}
	.home .home-body .home-body-media .home-body-media-link span {
		display: inline-block;
	}
}
