<!-- Icon -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!-- Css -->
<link rel="stylesheet" href="{$tools ? '../'}assets/plugins/fontawesome-free/css/all.min.css" type="text/css">
<link rel="stylesheet" href="{$tools ? '../'}assets/css/sb-admin-2.min.css" type="text/css">
<link rel="stylesheet" href="{$tools ? '../'}assets/css/style.css" type="text/css">
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
