
<!-- Javascript -->
<script src="{$tools ? '../'}assets/plugins/jquery/jquery.min.js"></script>
<script src="{$tools ? '../'}assets/plugins/jquery-easing/jquery.easing.min.js"></script>
<script src="{$tools ? '../'}assets/plugins/ionicon/dist/ionicons.js"></script>
<script src="{$tools ? '../'}assets/plugins/bsvalidator/dist/js/bootstrapValidator.min.js"></script>
<script src="{$tools ? '../'}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{$tools ? '../'}assets/js/main.js"></script>
