
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	--loading-bg: #4e73df;

	& .loader-sec-right, & .loader-sec-left {
		position: fixed;
		width: 100%;
		height: 50%;
		background-color: var(--loading-bg);
		z-index: 1000;
		transition: all 100ms 0.5s ease-in-out;
	}
	& .loader-sec-right {
		top: 0;
		left: 0;
	}
	& .loader-sec-left {
		right: 0;
		bottom: 0;
	}
	.loader {
		display: block;
		border: 3px solid transparent;
		border-top-color: #e67e22;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		position: relative;
		top: 50%;
		left: 50%;
		margin: -75px 0 0 -75px;
		animation: spin 2s linear infinite;
		z-index: 1002;
		transition: all 0.3s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			top: 7px;
			left: 7px;
			right: 7px;
			bottom: 7px;
			border: 3px solid transparent;
			border-radius: 50%;
			border-top-color: #d60331;
			animation: spin 1.5s ease-in-out infinite;
			animation-delay: 0.5s;
		}
		&::after {
			content: '';
			position: absolute;
			top: 21px;
			left: 21px;
			right: 21px;
			bottom: 21px;
			border: 3px solid transparent;
			border-radius: 50%;
			border-top-color: #00cec9;
			animation: spin 1s ease-in-out infinite;
		}
	}
}
.loaded {
	#loader-wrapper {
		visibility: hidden;
		transition: all 150ms 1s ease-in-out;
		transform: translateX(-100%);
		.loader-sec-right {
			transition: all 0.3s 0.5s ease-in-out;
			transform: translateY(-100%);
		}
		.loader-sec-left {
			transition: all 0.3s 0.5s ease-in-out;
			transform: translateY(100%);
		}
		.loader {
			opacity: 0;
			visibility: hidden;
		}
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes slideInDown {
  0%{
    transform: translate3d(0, -100%, 0);
    visibility: visible;
		opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
		opacity: 1;
  }
}
@keyframes slideOutDown {
  0% {
    transform: translate3d(0, 0, 0);
		opacity: 1;
  }
  100%{
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
		opacity: 0;
  }
}
.spinner-double-loader-wrapper {
	width: 100%;
	height: 100px;
	overflow: hidden;
}
.spinner-double-loader {
	div {
		box-sizing: border-box !important;
	}

	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: center center;
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		position: absolute;
		width: 4rem;
		height: 4rem;
		vertical-align: text-bottom;
		border: 0.25em solid;
		border-color: #f8b26a transparent #f8b26a transparent;
		border-radius: 50%;
		animation: spin 1s linear infinite;
		&:nth-child(2) {
			width: 2.5rem;
			height: 2.5rem;
			animation: spin 1s linear infinite reverse;
			border-color: #4e73de transparent #4e73de transparent;
		}
	}
}
.slideInDown {
	animation: slideInDown 1s ease-in-out forwards;
}
.slideOutDown {
	animation: slideOutDown 1s ease-in-out forwards;
}
