.sidebar {
	background-color: #4e73df;
	background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
	background-size: cover;

	.sidebar-brand {
		color: #f1f1f1;
	}
	hr.sidebar-divider {
	border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
	}
	.sidebar-heading {
		color: #f1f1f1;
	}
	.nav-item {
		.nav-link {
			color: rgba($color: #fff, $alpha: 0.6);
			i {
				color: rgba($color: #fff, $alpha: 0.25);
			}
			&:focus, &:hover, &:active {
				color: #fff;
				i {
					color: #fff;
				}
			}
		}
		&.active .nav-link,
		&.active .nav-link i {
			color: #f1f1f1;
		}
		.collapse, .collapsing {
			.collapse-inner {
				background: linear-gradient(315deg, #ffffff, #f1f2f5);
				box-shadow:  4px 4px 6px rgba($color: #bababd, $alpha: 0.5), -4px -4px 6px rgba($color: #fff, $alpha: 0.5);
				.collapse-item {
					transform: scale(0.9);
					transition: transform 0.2s  ease;
					&:hover {
						color: rgba(0, 0, 0, 1);
						background-color: rgba(215, 215, 215, 0.7);
						transform: scale(1.01);
					}
				}
			}
		}
	}
}
.navbar, .footer {
	background-color: var(--primary);
	background-image: linear-gradient(150deg,rgba($color: #fff, $alpha: 0.2) 16%,rgba($color: #fff, $alpha: 0.2) 17%,rgba($color: #fff, $alpha: 0.08) 17%,rgba($color: #fff, $alpha: 0.08) 23%, transparent 10%,transparent 75%, rgba($color: #fff, $alpha: 0.08) 78%,rgba($color: #fff, $alpha: 0.08) 84%,rgba($color: #fff, $alpha: 0.2) 84%,rgba($color: #fff, $alpha: 0.2));
}
.navbar {
	.btn-toggle {
		@for $om from 1 through 3 {
			.btn-bar:nth-of-type(#{$om}) {
				background-color: #fff;
			}
		}
		&.active .btn-bar:nth-of-type(2) {
			box-shadow: none;
			background: transparent;
		}
	}
	.navbar-nav {
		.nav-link {
			&.dropdown-toggle {
				color: #fff;
			}
		}
	}
}
.footer {
	width: 100%;
	box-shadow: 0 -1px 15px rgba($color: #000, $alpha: 0.4);
}
