
.form-control-dark {
	color: #5a5c69;
	background-color: #ffffff;
}
.form-control-dark:focus {
	color: #5a5c69;
	border: 1px solid #5a5c69;
	background-color: #ffffff;
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(47, 54, 64, 0.25);
}
.form-control-light {
	color: var(--light);
	background-color: var(--dark);
	border: 1px solid var(--light);
}
.form-control-light:focus {
	color: var(--light);
	border: 1px solid var(--light);
	background-color: var(--dark);
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(245, 246, 250, 0.25);
}
.form-control-search,
.form-control-search:focus {
	background-color: transparent;
}
