body {
	font-family: 'Quicksand', sans-serif;
}
ion-icon {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 2;
	display: inline-block;
	text-rendering: auto;
	font-style: normal;
	font-size: 16px;
}
#wrapper #content-wrapper {
	transition: all 0.2s linear;
}
#wrapper #content-wrapper {
	background-color: #fff;
}
#wrapper.dark #content-wrapper {
	background-color: #15202b;
}
#wrapper.dark .container-fluid h1 {
	color: #f3f3f3;
}
#wrapper.dark .home {
	border: 3px solid #05202b;
	background: linear-gradient(315deg, #05222e, #051d27);
	box-shadow:  -13px -13px 25px #04171f,  13px 13px 25px #062937;
}
#wrapper.dark .home .home-brand .home-brand-profile {
	box-shadow: 0 2px 15px rgba(241, 242, 243, 0.4);
	border: 3px solid rgba(241, 242, 243, 0.4);
}
#wrapper.dark .home .home-body .home-body-title,
#wrapper.dark .home .home-body .home-body-slogan {
	color: #f1f2f6;
}
#wrapper.dark .home .home-body .home-body-divider {
	border-color: rgba(241, 242, 242, 0.3)
}
#wrapper.dark .home .home-body .home-body-media .home-body-media-link {
	color: #7f8fa6;
}
#wrapper.dark .home .home-body .home-body-media .home-body-media-link:hover {
	color: #f1f2f6;
}
#wrapper.dark .home .home-body .home-body-media .home-body-media-link span {
	color: rgba(241, 242, 243, 0.4);
}
#wrapper.dark .home .home-body .home-body-media .home-body-media-link:hover span {
	color: rgba(245, 246, 250, 1);
}
#wrapper.dark .home .home-body .home-body-link {
	color: rgba(245, 246, 250, 1);
}
#wrapper.dark .card {
	background-color: #213040;
	border-color: #213040;
	background: linear-gradient(315deg, #233344, #1e2b3a);
	box-shadow:  -20px -20px 40px #1c2936, 20px 20px 40px #26374a;
}
#wrapper.dark .border-left-primary {
	border-left-color: #1e3799 !important;
}
#wrapper.dark .border-left-info {
	border-left-color: rgba(56, 173, 173, 1) !important;
}
#wrapper.dark .card .card-header {
	background-color: #05202b;
	border-bottom-color: #05202b;
	color: #f3f3f3 !important;
}
#wrapper.dark .list-group.list-group-flush .list-group-item {
	/* background-color: #213040; */
	background: transparent;
	color: #f1f2f6;
	border-bottom-color: #60a3bc;
}
#wrapper.dark .form-control {
	background: #213040;
	border-color: #4a69bd;
	color: #f1f2f6;
}
#wrapper.dark .form-control::placeholder {
	color: rgba(255, 255, 255, 0.5);
}
