{layout 'base.latte'}
{block title}
<title>About | Web Tools BlackCoderCrush</title>
{/block}
{block content}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="home">
				<h1 class="home-heading">
					<ion-icon name="information-circle-outline"></ion-icon>
					About
				</h1>
			</div>
		</div>
	</div>
</div>
{/block}
