<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Akin">
	<meta name="description" content="Web Tools by BlackCoderCrush">
	<meta name="theme-color" content="#4e73df">
	{% block title %} {% endblock %}
	<!-- Icon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<!-- Css -->
	<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="css/sb-admin-2.min.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="page-top" class="sidebar-toggled">
	<div id="wrapper">
		<div id="loader-wrapper">
			<div class="loader"></div>
			<div class="loader-sec-right"></div>
			<div class="loader-sec-left"></div>
		</div>
		{% include '_sidebar.html.twig' %}
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				{% include '_navbar.html.twig' %}
				{% block content %}{% endblock %}
			</div>
			<footer class="sticky-footer bg-dark">
				<div class="container my-auto shadow">
					<div class="copyright text-center my-auto text-light">
						<span>Copyright 2020 made with <i class="fa fa-heart text-danger"></i> BlackCoderCrush</span>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="plugins/jquery/jquery.min.js"></script>
	<script src="plugins/jquery-easing/jquery.easing.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="plugins/ionicons/dist/ionicons.js"></script>
	<!-- <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script> -->
</body>

</html>
