<!DOCTYPE html>
<html lang="en">

	<head>
		{include 'assets/meta.latte'}
		{block title} {/block}
		{include 'assets/css.latte'}
	</head>

	<body id="page-top" class="sidebar-toggled">
		<div id="wrapper">
			<div id="loader-wrapper">
				<div class="loader"></div>
				<div class="loader-sec-right"></div>
				<div class="loader-sec-left"></div>
			</div>
			{include 'layout/_sidebar.latte'}
			<div id="content-wrapper" class="d-flex flex-column">
				<div class='section-center'> 
					<div class='shooting-star'></div>
					<div class='shooting-star-2'></div>
					<div class='star'></div>
					<div class='star snd'></div>
					<div class='star trd'></div>
					<div class='star fth'></div>
					<div class='star fith'></div>
				</div>
				{include 'layout/_navbar.latte'}
				<div id="content">
					{block content} {/block}
				</div>
				{include 'layout/_footer.latte'}
			</div>
		</div>
		{include 'assets/js.latte'}
	</body>

</html>
